.login-container {
    max-width: 330px;
    margin: 140px;
    text-align: center;
    padding:80px;
    border: 1px solid #ccc;
    border-radius: 10px;
    margin-left: 650px;
    /* background-image:url("bg.jpg"); */
    background-color: whitesmoke;
}

.login-input {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.login-button {
    padding: 10px 20px;
    background-color: #4caf50;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-left: 10px;
}

.login-button:hover {
    background-color: #45a049;
}

.login-title{
    color: black;
    margin-left: -30px;
    padding: 60px;
    background-image: url("ssd.jpg");
    width: 280px;
}